<div>
    <div class='responsive'>

        <iframe [src]="video.url | safe" frameborder="0" allowfullscreen></iframe>
    </div>
    <form>
        <div *ngIf="editTitle" class="form-group">

            <input matInput type="input" class="form-control m-left" name='title' [(ngModel)]="video.title"
                placeholder="Title" required>
        </div>
        <h3 *ngIf="!editTitle" (click)="onTitleClick()" class='m-left'>{{video.title}}</h3>
        <div class="form-group">
            <input matInput type="input" class="form-control m-left" name='url' placeholder="URL"
                [(ngModel)]="video.url" required>
        </div>
        <div class="form-group">
            <textarea class='m-left' matInput name="desc" rows="4" [(ngModel)]="video.description"></textarea>
        </div>
        <button mat-raised-button color="accent" class='but' type="button" (click)="updateVideo()">Update</button>
        <button mat-raised-button color="warn" class='but' type="button" (click)="deleteVideo()">Delete</button>
    </form>
</div>