<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/home" class="navbar-brand">VideoPlayer</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a routerLink="/home" routerLinkActive='active'>Home</a></li>
            <li><a routerLink="/videos" routerLinkActive='active'>PlayList</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div> -->
<mat-toolbar color="primary" class="mat-elevation-z8">
    <span class="brand" routerLink='/home'>VideoPlayer</span>
    <div class="spacer">
    </div>
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/videos" routerLinkActive='active'>PlayList</a>

</mat-toolbar>
<router-outlet></router-outlet>
 