<div class="row">
    <div class="col-sm 9">
        
        <video-detail (updateVideoEvent)="onUpdateVideoEvent($event)" (deleteVideoEvent)='onDeleteVideoEvent($event)'
            *ngIf='selectedVideo && hideNewVideo' [video]='selectedVideo'></video-detail>
    </div>

    <div class="col-sm 9">

        <video-list (SelectVideo)='onSelectVideo($event)' [videos]="videos"></video-list>

        <button (click)="newVideo()" mat-raised-button color="primary" class='m-top'>+ New
            Video</button>
    </div>

</div>